
.contai-list-question{
  
    background-color: #fef8ef;
    margin-bottom: 50px;
    }
.top-title-l {
    font-size: 36px;
    font-weight: 800;
    color: #221638;
    margin-bottom: 10px;
}
.top-discrip-l {
    font-size: 24;
    font-weight: 500;
    color: #221638;
    margin-bottom: 20px;
}

.audio-part {
}
