.bg-title-part {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    background-color: #fef8ef;
}

.title-part {
    color: #120f2d;
    margin: 0 150px 80px 150px;
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
}
.title-part:hover {
    color: #f14d5d;
}

/* //
CSS Intro
/ */

.intro-left {
    background-color: #f8f9f8;
    margin-bottom: 80px;
}
.intro-title {
}
.intro-contai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
CSS Part content
*/

.contai-list {
    margin-left: 50px;
}

/* thong tin ben trai */
.if-contai {
    background-color: #f8f9f8;
    border-radius: 4px;
    text-transform: capitalize;
}
.if-title {
    font-size: 24px;
    text-align: center;
    padding: 25px;
    text-transform: capitalize;
}
.if-info {
    padding: 15px;
}
.if-item {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: aliceblue;
    padding: 10px 20px;
    border-top: 2px solid rgb(196, 190, 190);
}
.if-name,
.if-icon {
    display: inline-block;
}

.if-icon-name {
    display: flex;
    align-items: center;
}

.if-icon-name .if-icon {
    color: #f14d5d;
}
.if-icon-name .if-name {
    margin-left: 15px;
    color: #221638;
    font-weight: bold;
}
.if-text {
color: #606060;
}
