.bg-title-part {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    background-color: #fef8ef;
}

.title-part {
    color: #120f2d;
    margin: 0 150px 80px 150px;
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
}
.title-part:hover {
    color: #f14d5d;
}

/* //
CSS Intro
/ */

.intro-left {
    background-color: #f8f9f8;
    margin-bottom: 80px;
}
.intro-title {
}
.intro-contai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
CSS Part content
*/

.contai-list {
}
