.sidebar{
   

    background: url(https://res.cloudinary.com/inuenglish/image/upload/v1620980992/bg/team_ti9hhu.jpg) center center/cover no-repeat;
       
    height: 100%;
    width: 260px;
    position: fixed;
}

.ad-bg{
    background-color: #040404;
    opacity: 0.8;
    height: 100%;

}

.contai-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}
.ad-brand{

}
.ad-find{

}
.ad-user{}