.user {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #b3e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 20px;
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 10px;
  }
  
  .paginationBttns a {
    padding: 10px ;
    margin: 8px ;
    border-radius: 50px;
    border: 1px solid #fe4a55;
    color: #fe4a55;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #fe4a55;
  }
  
  .paginationActive a {
    color: white;
    background-color: #fe4a55;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: rgb(151, 142, 142);
  }

.pagi-list-topic{
  height: 50px;
}