.mrb {
    margin-bottom: 30px;
}
.topic-item {
    display: flex;

    color: #120f2d;
    border-radius: 20px;
    box-shadow: 10px 8px 16px 0px rgb(146 184 255 / 20%);
    transition: all 0.3s ease-in-out;

    max-height: 185px;
}
.topic-item:hover {
    transform: scale(1.015);
}

.topic-img > img {
    width: 210px;
    height: 100%;
    border-radius: 20px;
}
.contai-topic-info {
    padding: 10px 25px;
}
.contai-topic-info > .topic-date {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.contai-topic-info > .topic-name {
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}
.contai-topic-info > .topic-name:hover {
    color: #f14d5d;
}

.contai-topic-info > .topic-social {
}

.topic-social-icon {
    margin-left: 30px;
}

.contai-topic-info > .topic-descrip {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.contai-topic-info > .topic-action {
    display: flex;
}

.action-topic {
}
.btn-action {
    text-transform: capitalize;
}

.action_detail {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    border-radius: 5px 5px 5px 5px;
    background-color: #f14d5d;
    padding: 8px 16px;
    margin-right: 80px;
    transition: all 0.5s ease;
}
.action_detail:hover {
    background-color: #2878eb;
}

.action_do {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    border-radius: 5px 5px 5px 5px;
    background-color: #f14d5d;
    padding: 8px 16px;
}
.action_do:hover {
    background-color: #2878eb;
}

/* User Topic  */

.user-topic {
    height: 100%;
    border-radius: 20px;
    /* box-shadow: 0px 15px 30px rgb(29 23 77 / 8%); */
}

.user-topic2 {
    height: 100%;
    
  
}

.not-do {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.do-topic {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 25px;
}

.f-cen {
    display: flex;
    align-items: center;
}

.f-bet {
    display: flex;
    justify-content: space-between;
}
