body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-s {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #120f2d;
}

.text-m {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: #120f2d;
}

.text-m:hover {
  color: #f14d5d;
}

.text-l {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: #120f2d;
}

.text-l:hover {
  color: #f14d5d;
}

.btn-bg-red {
  background-color: #f14d5d;
  transition: all 0.5s ease-in-out;
}
.btn-bg-red:hover {
  background-color: #221638;
}



/**
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(37, 28, 28);
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-dis {
  opacity: 0.5 !important ;
  cursor: default;
}

.btn + .btn {
  margin-left: 16px;
}

.btn-s {
}

.btn-w {
}

.btn-d {
}


.btn-size_s{
  padding: 10px 36px;
}
.btn-size_l{
padding: 16px 56px;
}
*/
